@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

body{
    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: 100%;
    background-color: #ffb399;
    font-family: 'Poppins', sans-serif;
}
button{
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}
.music-container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.music-content{
    position: relative;
    width: 245px;
    height: 450px;
    background-color: #000;
    border-width: 8px 4px !important;
    border: solid #000;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.52);
}
#bg-image img{
    width: 105%;
    height: 105%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    filter: blur(6px);
    -webkit-filter: blur(5px);
}
#blackLayer{
    height: 450px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.404);
    position: absolute;
    z-index: 2;
} 

/*----Menu----*/
#menu{
    position: relative;
    z-index: 3;
    padding: 15px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
#menu img{
    width: 15px;
    height: 15px;
    cursor: pointer
}

/*----Volume----*/
#volume-container{
    position: relative;
    width: 100%;
    height: 15px;
    z-index:3;
    display: flex;
    justify-content: center;
    align-items: center;
}
#volume-container img{
    width: 16px;
    height: 16px;
    margin: 0 5px;
}
.slider{
    width: 110px;
    height: 1px !important;
    -webkit-appearance: none;
    border-radius: 10px;
    background-color: #fff;
    z-index: 100;
    outline: none;
    position: relative;
}
.slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 10px;
    height: 10px;
    background-color: #e62c2f;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    transform: scale(1);
}
.slider:active::-webkit-slider-thumb{ 
    transform: scale(1.2);
}

/*----Music Image----*/
#music-image{
    position: relative;
    width: 100%;
    height: 215px;
    z-index: 3;  
}
#circle-image{
    position: absolute;
    top: -33%;
    left: 50%;
    transform: translate(-50%,50%);
    width: 120px;
    height: 120px;
    background-color: #000;
    border-radius: 50%;
    border: 5px solid rgba(221, 221, 221, 0.897);
    overflow: hidden;
}
#music-image img{
    width: 100%;
    height: 104%;
}
#music-title{
    position: relative;
    padding: 0 25px;
    top: 65%;
    color: #fff;
}
#music-title h5{
    color: #fff;
    font-size: 20px;
    margin: 20px 0 5px;
    font-weight: 300;
    text-align: center;
    line-height: 1.2;
}
#music-title h6{
    margin:0;
    font-size: 12.5px;
    text-align: center;
    font-weight: 400;
}

/*----Music Menu---*/
#music-menu{
    width: 90%;
    height: 40px;
    position: relative;
    z-index: 3;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}
#music-menu img{
    width: 15px;
    height: 15px;
    
    cursor: pointer;
}
/*----Current Time----*/
#currentTime{
    position: relative;
    z-index: 3;
    padding: 0 12px 5px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
}
#currentTime span{
    font-size: 12px;
}

/*----SeekSlider----*/
.seekslider{
    width:100px;
    height: 2px !important;
    -webkit-appearance: none;
    border-radius: 10px;
    background-color: #fff;
    z-index: 3;
    outline: none;
    position: fixed;
    margin-left: 70px;
}
.seekslider::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 10px;
    height: 10px;
    background-color: #e62c2f;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    transform: scale(1);
}
.seekslider:active::-webkit-slider-thumb{ 
    transform: scale(1.2);
}

/*----Pause Play----*/
#buttons{
    position: relative;
    width: 100%;
    height: 50px;
    z-index: 3;
    margin-top: 20px;   
}

#buttons div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.play {
    width: 60px;
    height: 50px;
    margin:0 5px;
}
.play img{
    width: 100%;
    height: 100%;
}
.pre img,
.next img{
    width: 20px;
    height: 20px;
}
#buttons .like{
    position: absolute;
    top: 25%;
    right: 8%;
    cursor: pointer;
}
#buttons .like i{
    color: rgba(255, 255, 255, 0.883);
}
#buttons .repeat{
    position: absolute;
    top: 30%;
    left: 6%;
    font-size: 15px;
    cursor: pointer;
}
#repeat img{
    width: 16px;
    height: 16px;

}
/*----Animation----*/
.heart i.far{
    visibility: hidden;
    animation: popup 0.2s ease-out;
}
.heart i.fas{
    visibility: visible;
    animation: popup 0.2s ease-out;
    color: red;
}
.open i.fa-heart{
    animation: popup-heart 0.6s linear
}
.like .far{
    position: absolute;
    visibility: visible;
    margin-top: 0.25rem;
}
.like .fas{
   visibility: hidden;
}